<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="PrivateSettings.config">
    <add key="RequestTimeout" value="20000" />
    <add key="ErrorRetryMax" value="5" />
    <add key="ErrorRetryDelay" value="60000" />
    <add key="ThrottlingEnabled" value="true" />
    <add key="ThrottlingDelay" value="12000" />
    <add key="AllowDeletions" value="false" />
    <add key="EnableLogging" value="true" />
  </appSettings>
</configuration>